<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OQSDrug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OQSDrug.Properties.Settings>
            <setting name="OQSDrugData" serializeAs="String">
                <value />
            </setting>
            <setting name="Datadyna" serializeAs="String">
                <value />
            </setting>
            <setting name="OQSFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RSBgazouFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RSBReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RSBUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="MCode" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DrugFileCategory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KensinFileCategory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YZinterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YZspan" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="KSinterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="YZname" serializeAs="String">
                <value />
            </setting>
            <setting name="KSname" serializeAs="String">
                <value />
            </setting>
            <setting name="temprs" serializeAs="String">
                <value>C:\RSB_TEMP\temp_rs.txt</value>
            </setting>
            <setting name="autoRSB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewerBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ViewerTopmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RSBID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeepXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynaTable" serializeAs="String">
                <value>T_資格確認結果表示</value>
            </setting>
            <setting name="ViewerSpan" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SearchBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="OmitMyOrg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TKKBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="autoTKK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrugClass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="autoSR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RSBServerFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RSBXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RSBXmlURL" serializeAs="String">
                <value>http://localhost/~rsn/R_uketuke.cgi?xml_drug</value>
            </setting>
            <setting name="PGaddress" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="PGport" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="PGuser" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="PGpass" serializeAs="String">
                <value />
            </setting>
            <setting name="DBtype" serializeAs="String">
                <value>mdb</value>
            </setting>
            <setting name="SummaryBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="AIauto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LLMserver" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="LLMport" serializeAs="String">
                <value>11434</value>
            </setting>
            <setting name="LLMmodel" serializeAs="String">
                <value>gemma3:12b</value>
            </setting>
            <setting name="LLMtimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DIviewer" serializeAs="String">
                <value>SGML</value>
            </setting>
            <setting name="PMDABounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </OQSDrug.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
